JWT_SECRET_KEY=JWT_SECRET_KEY
JWT_VERIFY_SECRET=JWT_VERIFY_SECRET
MAPBOX_DIRECTIONS_TOKEN=MAPBOX_DIRECTIONS_TOKEN
MJ_APIKEY_PUBLIC=MJ_APIKEY_PUBLIC
MJ_APIKEY_PRIVATE=MJ_APIKEY_PRIVATE
MJ_SENDER_EMAIL=MJ_SENDER_EMAIL

NODE_ENV=NODE_ENV

FRONTEND_URL=FRONTEND_URL