@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffa41b;
  --color-primary-hover: #f3af4a;
  --color-secondary: #03031b;
  --color-tertiary: #e3e3e2;
  --color-dark: #03031b;
  --color-light: #fffff0;
}

* {
  @apply m-0 p-0 box-border list-none no-underline;
}

body {
  @apply m-0 bg-gray-100 font-montserrat;
}

h1 {
  @apply m-0;
}

.button-flex {
  @apply rounded-lg gap-2 flex items-center justify-center font-montserrat text-sm;
}
.button-col {
  @apply rounded-lg px-4 py-2 gap-2 flex flex-col items-center justify-center;
}

.button-primary {
  @apply bg-primary text-textLight transition-200;
}

.button-secondary {
  @apply bg-secondary text-textDark transition-200;
}

.button-validation {
  @apply bg-validation text-textLight transition-200;
}

.button-pending {
  @apply bg-pending text-textLight transition-200;
}

.button-error {
  @apply bg-error text-textLight transition-200;
}
.button-cancel {
  @apply bg-cancel text-textLight transition-200;
}

.text-field-with-button {
  @apply flex flex-grow justify-center gap-1;
}

.Toastify__toast-container {
  z-index: 9999; /* Met un z-index élevé pour être au-dessus de tout */
}

.toast-custom {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

.toast-success {
  background-color: var(--primary-color);
  color: #fff;
}

.toast-error {
  background-color: #ff4d4f;
  color: #fff;
}

.toast-icon {
  font-size: 1.5rem;
}

.logo {
  @apply border-none;
}

@layer utilities {
  .transition-200 {
    @apply transition-all duration-200 ease-in-out;
  }

  .custom-select {
    @apply appearance-none cursor-pointer;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-tertiary);
    border-radius: 0.5rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    cursor: -webkit-grabbing;
    border-radius: 0.5rem;
    transition: all 350ms ease;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-hover);
  }
}

/* -----------------------------LOADER---------------------------- */

/* Keyframes pour l'animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
