@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --color-primary: #ffa41b;
  --color-primary-hover: #f3af4a;
  --color-secondary: #03031b;
  --color-tertiary: #e3e3e2;
  --color-dark: #03031b;
  --color-light: #fffff0;
}

* {
  @apply m-0 p-0 box-border list-none no-underline;
}

body {
  @apply m-0 bg-gray-100 font-montserrat;
}

h1 {
  @apply m-0;
}

.button-flex {
  @apply rounded-lg gap-2 flex items-center justify-center font-montserrat text-sm;
}


.button-col {
  @apply rounded-lg px-4 py-2 gap-2 flex flex-col items-center justify-center;
}

.button-primary {
  @apply bg-primary text-textLight transition-200;
}

.button-secondary {
  @apply bg-secondary text-primary transition-200;
}

.button-secondary {
  @apply rounded-lg bg-secondary text-textDark hover:bg-secondaryHover cursor-pointer transition-200;
}

.button-validation {
  @apply bg-validation text-textLight transition-200;
}

.button-pending {
  @apply bg-pending text-textLight transition-200;
}

.button-full {
  @apply bg-full text-textLight transition-200;
}


.button-cancel {
  @apply bg-cancel text-textLight transition-200;
}

.button-refused {
  @apply bg-refused text-textLight transition-200;
}

.text-field-with-button {
  @apply flex flex-grow justify-center gap-1;
}

.logo {
  @apply border-none;
}

@layer utilities {
  .transition-200 {
    @apply transition-all duration-200 ease-in-out;
  }

  .custom-select {
    @apply appearance-none cursor-pointer;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.5rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dedede;
    cursor: -webkit-grabbing;
    border-radius: 0.5rem;
    transition: all 350ms ease;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
  }

  /* no scrollbar visible */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }


  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.15) 10px 15px 25px,
      rgba(0, 0, 0, 0.05) 10px 5px 10px;
  }
}

/* -----------------------------LOADER---------------------------- */

/* Keyframes pour l'animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }


  100% {
    transform: rotate(360deg);
  }
}

/* -----------------------------SLIDER SWIPER---------------------------- */

/* .mySwiper {
  @apply w-full h-full bg-orange-600;
}
*/
.swiper-wrapper {
  @apply min-h-[280px];
}

.swiper-scrollbar {
  @apply hidden;
}

.swiper-slide {
  @apply !flex !items-center !justify-center;
}

.swiper-button-prev,
.swiper-button-next {
  @apply !text-primary transition-200 absolute top-1/2 -translate-y-1/2 z-10 flex items-center justify-center;
  @apply !text-primary transition-200 absolute top-1/2 -translate-y-1/2 z-10 flex items-center justify-center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply !text-primaryHover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply !text-2xl;
}

.swiper-pagination-bullet {
  @apply !bg-primary;
}


.swiper-pagination-bullet-active {
  @apply !bg-primaryHover;
}


.swiper-pagination-bullet:hover {
  @apply !bg-primaryHover;
}


.swiper-pagination-bullet-active:hover {
  @apply !bg-primary;
}

/* -----------------------------SCROLLBAR---------------------------- */

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE et Edge Legacy */
  scrollbar-width: none;
  /* Firefox */
}